<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clon Twitter</title>
    <link rel="stylesheet" href="/public/CSS/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="icon" href="/public/images/IconTwitter2.png">
</head>
<body class="container-fluid bg-black text-color row n-8">

    <!-- INICIO Y OPCIONES -->
    <nav class="col-lg-3">
        <section class="container nav-section">
            <div class="container nav-container logo-twitter">
                <a href="#">
                    <img src="/public/images/Pajarito-twitter.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                </a>
            </div>

            <div class="nav-div bold-text">
                <a class="nav-a" href="#">
                    <img src="/public/images/Inicio-twitter.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                    Inicio
                </a>
            </div>
            <div class="nav-div bold-text">
                <a class="nav-a" href="#">
                    <img src="/public/images/Explorar-twitter.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                    Explorar
                </a>
            </div>
            <div class="nav-div bold-text">
                <a class="nav-a" href="#">
                    <img src="/public/images/Notificacion-twitter.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                    Notificaciones
                </a>
            </div>
            <div class="nav-div bold-text">
                <a class="nav-a" href="#">
                    <img src="/public/images/Mensajes-twitter.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                    Mensajes
                </a>
            </div>
            <div class="nav-div bold-text">
                <a class="nav-a" href="#">
                    <img src="/public/images/Listas-twitter.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                    Listas
                </a>
            </div>

            <div class="nav-div bold-text">
                <a class="nav-a" href="#">
                    <img src="/public/images/Guardados-twitter.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                    Guardados
                </a>
            </div>

            <div class="nav-div bold-text">
                <a class="nav-a" href="#">
                    <img src="/public/images/Verificado-twitter.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                    Verificado
                </a>
            </div>

            <div class="nav-div bold-text">
                <a class="nav-a" href="#">
                    <img src="/public/images/Perfil-twitter.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                    Perfil
                </a>
            </div>

            <div class="nav-div bold-text">
                <a class="nav-a" href="#">
                    <img src="/public/images/Opciones-twitter.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                    Mas Opciones
                </a>
            </div>

            <div class="nav-div bold-text">
                <a class="boton-twittear" href="/newPost">
                    Twittear
                </a>
            </div>
        </section>

        <section class="nom-us">
            <div>
                <img class="img-perfil"src="/public/images/Usuario Granados/img-granados.png" alt="imagern perfil">
            </div>
            <div class="col-md-8 usuarios">
                <span class="bold-text">Migue Granados<br></span>
                <span class="arroba">@miguegranados</span>
            </div>    
        </section>
    </nav>
 
    

    
    <!-- PUBLICACIONES Y COMENTARIOS -->
    <main class="col-lg-5 main-tw">

        <div class="main_twits borde-grey">
            <h5 class="bold-text c-white">Inicio</h5>
            <div class="selector">
                <div class="para-ti">Para ti<br><strong class="bold-text">______</strong></div>
                <div class="seguidos">Seguidos</div>
            </div>
        </div>

        <div class="twittear borde-grey">
            <img class="img-perfil"src="/public/images/Usuario Granados/img-granados.png" alt="imagern perfil">
            <input type="text"  placeholder="¡¿Que está pasando?!">
            <div class="multi">
                <div><img src="/public/images/IMG-Twitear/imagen.png" alt=""></div>
                <div><img src="/public/images/IMG-Twitear/gif.png" alt=""></div>
                <div><img src="/public/images/IMG-Twitear/encuesta.png" alt=""></div>
                <div><img src="/public/images/IMG-Twitear/emoji.png" alt=""></div>
                <div><img src="/public/images/IMG-Twitear/programacion.png" alt=""></div>
                <div><img src="/public/images/IMG-Twitear/ubicacion.png" alt=""></div>
                <a href="/newPost" class="btn-twit bold-text">Twittear</a>
            </div>
        </div>

        <% posts.forEach(post => { %>
            <div class="card bold-text bg-black">
                <div class="card-body borde-grey">
                        <img class="img-perfil" src="/public/images/Usuario Granados/img-granados.png" alt="imagern perfil">
                        <span class="usuarios bold-text">Migue Granados</span>
                        <span class="arroba-us">@miguegranados<br></span>
                        <p class="card-text text-twit"><%= post.description %></p>
                  <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed bg-black bold-text" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    Comentario
                                </button>
                            </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse bg-black bold-text" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body text-twit"><%= post.markdown %></div>
                                </div>
                        </div>
                    </div>
                    <img src="<%= post.image%>" class="card-img-bottom" alt="<%= post.cloudinary_id%>">

                    <div class="btn-group">
                        <a class="btn btn-primary" href="edit/<%= post.id %>" role="button">Editar</a>

                        <form method="POST" action="/<%= post.id %>?_method=DELETE">
                            <button type="submit" class="btn btn-primary">Eliminar</button>
                        </form>
                    </div>
                    
                </div>
            </div>
            <!-- SALTO DE LINEA PARA QUE LOS POST QUEDEN SEPARADOS -->
            <br>
        <% })%>

    </main>
    <!-- BUSCADOR Y SUGERENCIAS -->
    <aside class="col-lg-3">
        <div class="buscador">
            <input type="search" placeholder="Buscar en Twitter">
        </div>

        <div class="verificacion bold-text">
            <h4>Obtener Verificación</h4>
            <p>Suscribete para desbloquear nuevas funciones</p>
            <button class="btn-verificado bold-text">Obtener Verificacion</button>
        </div>
        
        <div class="tend caja-aside">
            <h4>Qué está pasando</h4>
            <p class="text-tend bold-text"><strong>Tendencia en Argentina</strong><br>Esteban Laureano Maradona</p>
            <p class="text-tend bold-text"><strong>Tendencia en Argentina</strong><br>Lolla<br>
                <strong>3.663 Tweets</strong>
            </p>
            <p class="text-tend bold-text"><strong>Tendencia en Argentina</strong><br>
                23 de la Liga Profesional
            </p>
            <p class="text-tend bold-text"><strong>Tendencia en Argentina</strong><br>
                Ladaga<br>
                <strong>1.872 Tweets</strong>
            </p>

            <a href="#" class="mostrar-mas">Mostrar más</a>
        </div>

        <div class="caja-aside">
            <h4>A quién seguir</h4>
            <section class="seguir">
                <div>                
                    <img src="/public/images/IMAGENES-SEGUIR/Albornoz.png" alt="">
                </div>
                <div class="col-md-8 usuarios">
                    <p>Mauro Albornoz</p>
                    <span class="arroba">@Mau_Albornoz</span>
                </div>
                <button class="btn-seguir bold-text">Seguir</button>
            </section>

            <section class="seguir">
                <div>                
                    <img src="/public/images/IMAGENES-SEGUIR/valen.png" alt="">
                </div>
                <div class="col-md-8 usuarios">
                    <p>valen</p>
                    <span class="arroba">@prottovalen</span>
                </div>
                <button class="btn-seguir bold-text">Seguir</button>
            </section>

            <section class="seguir">
                <div>                
                    <img src="/public/images/IMAGENES-SEGUIR/Conmebol.png" alt="">
                </div>
                <div class="col-md-8 usuarios">
                    <p>CONMEBOL Sud...</p>
                    <span class="arroba">@Sudamericana</span>
                </div>
                <button class="btn-seguir bold-text">Seguir</button>
            </section>
        </div>


    </aside>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
        crossorigin="anonymous">
    </script>
</body>
</html>